<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>csiebug-2.0</display-name>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>/csiebug-2.0</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:spring.xml
			classpath:springSecurity.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.portal.container.service.PolicyService</param-name>
    <param-value>com.sun.portal.portletcontainer.driver.policy.PolicyServiceImpl</param-value>
  </context-param>
  
  <!-- hibernate open session in view filter -->
  <filter>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>sessionFactory</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!--
  <filter>
    <filter-name>OpenSessionInViewFilter4Test</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>sessionFactory4Test</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>OpenSessionInViewFilter4Test</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>-->
  
  <!-- spring security filter -->
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- struts2 MVC filter -->
  <filter>
	<filter-name>struts2</filter-name>
	<!--<filter-class> org.apache.struts2.dispatcher.FilterDispatcher</filter-class>-->
	<!-- filter without "/services/*" for web service wsdl path -->
	<filter-class> csiebug.util.Struts2WebServiceDispatcher</filter-class>
  </filter>
  
  <filter-mapping>
	<filter-name>struts2</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>  
  	<description>Set HTTP headers for a mapping.</description>  
  	<filter-name>ExpiresFileHeaderFilter</filter-name>  
  	<filter-class>csiebug.util.HeaderFilter</filter-class>  
  	<init-param>  
  		<description>Add an Expires Header</description>  
  		<param-name>header</param-name>  
  		<param-value>Expires: Fri, 31 Dec 2011 20:00:00 GMT</param-value>  
  	</init-param>  
  </filter>
  
  <filter-mapping>  
  	<filter-name>ExpiresFileHeaderFilter</filter-name>  
  	<url-pattern>*.css</url-pattern>
  	<url-pattern>*.js</url-pattern>
  	<url-pattern>*.gif</url-pattern>
  	<url-pattern>*.png</url-pattern>
  	<url-pattern>*.ico</url-pattern>
  	<dispatcher>REQUEST</dispatcher>  
  </filter-mapping>
  
  <!-- webutilities:
  http://code.google.com/p/webutilities/
   -->
  <filter>
        <filter-name>compressionFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.CompressionFilter</filter-class>
        <init-param>
                <param-name>compressionThreshold</param-name>
                <param-value>512</param-value> <!--  anything above 512bytes  -->
        </init-param>
        <init-param>
                <param-name>ignoreURLPattern</param-name>
                <param-value>.*\.(png|gif|jpg|tiff|bmp|mpg|jpeg)</param-value>
        </init-param>   
 </filter>
 
 <filter-mapping>
   <filter-name>compressionFilter</filter-name>
   <url-pattern>/*</url-pattern>
 </filter-mapping>
  
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.security.ui.session.HttpSessionEventPublisher</listener-class>
  </listener>
  <listener>
    <listener-class>csiebug.util.WebSessionListener</listener-class>
  </listener>
  <jsp-config>
    <taglib>
      <taglib-uri>/csiebug-ui</taglib-uri>
      <taglib-location>/WEB-INF/csiebug-ui.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/csiebug-excel</taglib-uri>
      <taglib-location>/WEB-INF/csiebug-excel.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/csiebug-project</taglib-uri>
      <taglib-location>/WEB-INF/csiebug-project.tld</taglib-location>
    </taglib>
	<taglib>
      <taglib-uri>/csiebug-xmlSwfChart</taglib-uri>
      <taglib-location>/WEB-INF/csiebug-xmlSwfChart.tld</taglib-location>
    </taglib>
	<taglib>
      <taglib-uri>/csiebug-raphaelJSChart</taglib-uri>
      <taglib-location>/WEB-INF/csiebug-raphaelJSChart.tld</taglib-location>
    </taglib>
	<taglib>
      <taglib-uri>/csiebug-jqPlotChart</taglib-uri>
      <taglib-location>/WEB-INF/csiebug-jqPlotChart.tld</taglib-location>
    </taglib>
	<taglib>
      <taglib-uri>/csiebug-timeline</taglib-uri>
      <taglib-location>/WEB-INF/csiebug-timeline.tld</taglib-location>
    </taglib>
	<taglib>
      <taglib-uri>/csiebug-movingBox</taglib-uri>
      <taglib-location>/WEB-INF/csiebug-movingBox.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/csiebug-rss</taglib-uri>
      <taglib-location>/WEB-INF/csiebug-rss.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/csiebug-uploadify</taglib-uri>
      <taglib-location>/WEB-INF/csiebug-uploadify.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/csiebug-plupload</taglib-uri>
      <taglib-location>/WEB-INF/csiebug-plupload.tld</taglib-location>
    </taglib>
  </jsp-config>
  <env-entry>
    <env-entry-name>sysDB</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>jdbc/csiebug</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>sysAPURL</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>http://localhost:8080/csiebug-2.0/index</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>APID</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>csiebug-2.0</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>sysLocale</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>zh_TW</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>defaultDateFormat</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>23</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>defaultPagination</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>10</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>MAX_UPLOAD_SIZE</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>1048576000</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>cookieLifecycle</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>30</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>preloadJS</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value></env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>preloadCSS</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value></env-entry-value>
  </env-entry>
  <env-entry>
  	<env-entry-name>CDNJS</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>
  		<!-- http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js
  		http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js -->
  		/csiebug-2.0/js/backup/jquery-1.3.2.min.js
  		/csiebug-2.0/js/backup/jquery-ui-1.7.2.custom.min.js
  	</env-entry-value>
  </env-entry>
  <env-entry>
  	<env-entry-name>CDNCSS</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value></env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>ldapURL</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>ldap://127.0.0.1:10389</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>ldapAdmin</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>uid=admin,ou=system</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>ldapEncryptPassword</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>cc4e1b57691c47fc</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>ldapKey</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>123456789012345678901234123456789012345678901234</env-entry-value>
  </env-entry>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>